*{
    box-sizing: border-box;
}
.albums{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.album{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 3px solid;
    background-color: black;
    color: white;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 3.5%;

}


h1{
    text-align: center;
    font-size: 2.9vh;
}

.album img{
    width: 20.554984583761563vh;
}
a {
  color: rgb(15, 15, 15);
  text-decoration: none;
  white-space: normal;
  font-size: 1.5rem;
}
h3{
    font-size: 1.9239465570400822vh;
}

.singerinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    margin-top: -2%;
}

.singerpicture{
    width: 46.248715313463514vh;
    height: 46.248715313463514vh;
    margin-top: 3.5%;
}



.page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.albumlist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}

h2{
    font-size: 2vh;
}

.separationbar{
    width: 5px;
    background-color: black;
    height: 45vh;
    padding-bottom: 5%;
    margin-top: -2%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    padding: 1%;
}

.iframe{
    width: 80vh;
    height: 7.708vh;
  
}