<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>CinéAllo</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/singer.css" />
  <link rel="stylesheet" href="/static/header.css">
</head>

<body>
  <div class="container">
  <nav>
    <div class="Songify">
      <img src="https://i.pinimg.com/736x/37/77/b9/3777b93defb9bcac89b78bfabacb730d.jpg" alt="">
      <a href="/"><h1>Songify</h1></a>
    </div>
  <div class="Artistnav">
    <a href="/artists/">Artiste</a>
    <a href="/song/{{ range(1, 56) | random }}">Aléatoire</a>
  </div>
 </nav>
 <div class="page">
    <div class="singerinfo">
      <h1>{{ singer.name }}</h1>
      <img src="{{ singer.picture }}" alt="" class="singerpicture"> 
    </div>
    <div class="separationbar"></div>

    <div class="albumlist">
      <h1>Album</h1>

      <div class="albums">
        {% for album in albums %}
        {% if album.cover%}
        <div class="album">
          <h2>{{ album.album_name }}</h1>
          <h3>Genre : {{ album.category_name }} </h3>
          <img src="{{album.cover}}" alt="">
          <h3>Durée : {{ album.duration }}mins</h3>
          <h3>{{ album.nbrSong }} titres</h3>
        </div>
        {% else %}
        <h2>Cet artiste n'a pas sorti d'album, uniquement des singles!</h2>
        {% endif %}
        {% endfor %}
      
      
      
      </div>
    </div>
    </div>
    <footer>
  <p>Ce site est un projet étudiant. N'hésitez pas à consulter le Spotify de l'artiste!
  </p>
  <iframe class ="iframe" src="https://open.spotify.com/embed/artist/{{ singer.spotify}}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</footer></div>
</body>

</html>