<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>CinéAllo</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/singers.css" />
  <link rel="stylesheet" href="/static/header.css">
</head>

<body>
  <nav>
    <div class="Songify">
      <img src="https://i.pinimg.com/736x/37/77/b9/3777b93defb9bcac89b78bfabacb730d.jpg" alt="">
      <a href="/"><h1>Songify</h1></a>
    </div>
  
  <div class="Artistnav">
    <a href="/song/{{ range(1, 56) | random }}">Aléatoire</a>
  </div>
 </nav>

 <div class="container">
 <div class="titlescreen">
 <h1>  Liste des artistes  </h1></div>
  <div class="grid">
  {% for Artist in all_artists %}

    
  <div class="movie">
    <a href="/singer/{{ Artist.id }}">
        <h2>{{ Artist.name }}</h2>
        <img src="{{ Artist.picture }}" alt="" class="singerpicture"> </a>
    </div>


  {% endfor %}
</div>
<footer>
  <p>Ce site est un projet étudiant, n'ayant aucune vocation commerciale. <br> Inspiré par Spotify.<p>
</footer>
</div>
</body>

</html>